@model EventEase.Models.Booking
<h1>Details</h1>
<div>
    <h4>Booking #@Model.BookingId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Venue</dt>
        <dd class="col-sm-10">@Model.Venue?.Name</dd>
        <dt class="col-sm-2">Event</dt>
        <dd class="col-sm-10">@Model.Event?.Name</dd>
        <dt class="col-sm-2">Event Type</dt>
        <dd class="col-sm-10">@(Model.Event?.EventType?.Name ?? "N/A")</dd>
        <dt class="col-sm-2">Start Date</dt>
        <dd class="col-sm-10">@Model.Event?.StartDate.ToShortDateString()</dd>
        <dt class="col-sm-2">End Date</dt>
        <dd class="col-sm-10">@Model.Event?.EndDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Booking Date</dt>
        <dd class="col-sm-10">@Model.BookingDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>
        <dt class="col-sm-2">Notes</dt>
        <dd class="col-sm-10">@Model.Notes</dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
